/* Empty. Add your own CSS if you like */
.hero
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    margin: auto;

    transform: scale(1.3);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: 'Helvetica';

}

.blur
{
    -webkit-filter: blur(3px);
       -moz-filter: blur(3px);
         -o-filter: blur(3px);
        -ms-filter: blur(3px);
            filter: blur(3px);
}
.Absolute-Center
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.fuzzy-white
{
    opacity: .7;
    background-color: #fff;
    z-index: 1;
}

.content
{
    font-family: 'Helvetica';

    color: #4a4a4a;
}

.top{
    position: absolute;
    top: 0;
    margin-top:21px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    opacity: 0.7;   
}

.bottom
{
    position: absolute;
    bottom: 0;

    width: 100%;
    vertical-align: text-bottom;
    text-align: center;
    background-color: #000000;
    opacity: 0.7;
}

.heart-size
{
    font-size: 42px;

    z-index: 5;

    text-align: center;
}
.circle
{
    width: 100px;
    height: 100px;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}
.outer-circle{
    width: 120px;
    height: 120px;
    background-color:#000;
    opacity:0.4;
    -webkit-border-radius: 60px;
       -moz-border-radius: 60px;
            border-radius: 60px;
}
.box-size
{
    width: 16%;
    height: 25%;
}
.description{
	font-size: 16px;
	line-height: .5;
	text-align: center;
	color: #FFFFFF;
    margin-top:auto;
    margin-bottom:auto;
    display: inline;
}
.field{
    font-size:9px;
    text-align:right;
    line-height: .1;
    margin: 0;
    padding: 0;
}
.time{
    text-align: left;
}
.name{
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    text-transform: lowercase;
    padding-top:1%;
}
.weather{
	font-size: 20px;
	color: #FFFFFF;
    text-align: center;
    line-height: :.5;
    margin-top:auto;
    margin-bottom:auto;
}
.sentence{
    font-size:9px;
    margin-bottom:0;
    line-height: 1;
    text-align:center;
    margin-left:auto;
    width:100%;
}
.experience{
    margin-bottom:0;
    font-size:12px;
    text-align: center;
    margin-left:auto;
    width:100%;
}
.location{
    font-size:10px;
    margin-top:-15px;
}
.input-label{
    font-size:12px !important;
}
.input-placeholder{
    text-align:center;
}
.title-hack{
    text-align:center;
    width:100%;
}
.button{

}
.inversion.activated,
.inversion:active{
       -webkit-filter: invert(100%) !important;
   filter: invert(100%) !important;
      width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
       -moz-border-radius: 60px;
            border-radius: 60px;
}